NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DASHBOARD_PASSWORD=
NEXT_PUBLIC_WHATSAPP=+970xxxxxxxxx
NEXT_PUBLIC_EMAIL=your@email.com
NEXT_PUBLIC_GITHUB=https://github.com/username
NEXT_PUBLIC_LINKEDIN=https://linkedin.com/in/username
NEXT_PUBLIC_TWITTER=https://x.com/username
